/* Text for the movies */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    font-size: 14px;
}

header {
    padding: 20px;
    background-color: #2b3e4d;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#search-bar-container {
    background-color: #33485f;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

h1 {
    color: white;
    margin-top: 5px;
}

input, select {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.movie {
    background-color: #fefefe;
    padding-top: 13px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 35px;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#pages {
    margin: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #3197d8;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #277fb8;
}
